{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <title>Servidor</title>
</head>
<body style="background-color: gray">

    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>Servidor</h1>
            </div>
            <div class="card-body">
                <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="port" class="form-label">Port:</label>
                        <input type="text" id="port" name="port" class="form-control" >
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark px-4">Ligar</button>
                        </div>
                    </div>
                </form>
                <br>
                <div class="row">
                  <div class="mb-4 col-6">
                    {% if ports %}
                    <h4>Portas Abertas:</h4>
                    <table
                      class="table"
                      style="border: 1px solid #000; border-collapse: collapse"
                    >
                      <thead>
                        <tr>
                          <th>Porta</th>
                          <th>Ação</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for port in ports %}
                        <tr>
                          <td style="border-right: 1px solid #000">{{ port }}</td>
                          <td>
                            <a class="btn btn-danger shutdown-btn" data-port="{{ port }}">Desligar</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    <h4>Nenhuma Porta Aberta</h4>
                    {% endif %}
                  </div>
                  
                  <div class="mb-4 col-6">
                    {% if port_already_connected %}
                    <h4 style="color: red;">A Porta {{ port_already_connected }} já existe!</h4>
                    <p>A porta {{ port_already_connected }} já existe e está aguardando requisições do cliente.</p>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        let csrftoken = $('[name=csrfmiddlewaretoken]').val();
        
        $('.shutdown-btn').on('click', function() {
            let port = $(this).data("port");
            $.ajax({
                url: `/desconnect/`,
                type: 'POST',
                data: { 
                'port': port,
                'csrfmiddlewaretoken': csrftoken
            },
            statusCode: {
                404: function() {
                alert( "não encontrada, por favor, recarregue a página" );
              } 
            },
            success: function() {
                $.ajax({
                    url: `/`,
                    type: 'GET',
                    success: function() {
                        $(`.shutdown-btn[data-port="${port}"]`).closest("tr").remove();
                        // $('body').html(response);
                    }
                });     
            },
            error: function(xhr, status, error) {
            // Exibe mensagem de erro genérica
            $('.alert-danger').text('Erro ao excluir linha.').show();
            $('.alert-success').hide();
            }
        });
      });
    });
</script>
