{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <title>{{title}}</title>
</head>

<body style="background-color: gray">

    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center ">
                <h1>Cliente</h1>
            </div>
            <div class="card-body">
                <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="port" class="form-label">Port:</label>
                        <input
                            type="number"
                            id="port"
                            name="port"
                            class="form-control"
                            required=""
                            minlength="4"
                            maxlength="4"
                            min="0"
                            oninput="validatePort()"
                        />
                    </div>
                                
                    <div class="row">
                        <div class="mb-4 col-6">
                            <label for="msg" class="form-label">Digite a mensagem a ser traduzida</label>
                            <textarea id="msg" name="msg" rows="5" cols="120" required=""></textarea>
                        </div>

                        <div class="mb-4 col-6">
                            {% if msg %}
                            <h4>
                                Menssagem Traduzida:
                            </h4>
                            <p>{{msg}}</p>
                            <p>Traduzida às {{hour}}</p>
                           
                            <h4>
                                Arquivos na pasta do servidor:
                            </h4>
                            <p class="ms-4">
                                {% for file in files %}
                                    {{ file }}
                                    <br>
                                {% endfor %}
                            </p>
                            
                            {% endif %}
                        </div>
                    </div>

                    <div class="text-center ">
                        <button type="submit" class="btn btn-dark">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function validatePort() {
      var input = document.getElementById("port");
      var value = input.value;

      if (value === "8000" || value === "8001" || value > 9999 || value < 1000) {
        input.setCustomValidity("A porta deve ter 4 dígitos e os valores 8000 e 8001 não são permitidos.");
      } else {
        input.setCustomValidity("");
      }
    }
  </script>
</html>